<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Incluyendo JS en HTML5</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script type="text/javascript">
             function draw() {
            var canvas = document.getElementById('canvas');
            if (canvas.getContext){
            var ctx = canvas.getContext('2d');

            for(var i=0;i<8;i++){
               for(var j=0;j<6;j++){
                    ctx.beginPath();
                    var x              = 25+j*50;               // Coordenada x
                    var y              = 25+i*50;               // Coordenada y
                    var radius         = 5;                    // Radio del arco
                    var startAngle     = 360;                     // Punto inicial del círculo
                    var endAngle       = 0; // Punto final del círculo
                    var anticlockwise  = true; // Sentido de las manecillas del reloj y contrario a ellas

                    ctx.arc(x, y, radius, startAngle, endAngle, anticlockwise);

                   
                   ctx.fill();

                }
            }
          }
        }
        </script>
        	<style>
                    .tablero
                    {
                        position: absolute;
                        /*nos posicionamos en el centro del navegador*/
                        top:35%;
                        left:52%;
                        /*determinamos una anchura*/
                       
                        /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                        margin-left:-200px;
                        /*determinamos una altura*/
                        
                        /*indicamos que el margen superior, es la mitad de la altura*/
                        margin-top:-150px;
                        border:1px solid #808080;
                        padding:5px;
                        background: white;
                        
                    }
                    .tablerop
                    {
                        position: absolute;
                        /*nos posicionamos en el centro del navegador*/
                        top:35%;
                        left:35%;
                        /*determinamos una anchura*/
                       
                        /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                        margin-left:-200px;
                        /*determinamos una altura*/
                        
                        /*indicamos que el margen superior, es la mitad de la altura*/
                        margin-top:-150px;
                        border:1px solid #808080;
                        padding:5px;
                        background: white;
                        
                    }

                    .tableror
                    {
                        position: absolute;
                        /*nos posicionamos en el centro del navegador*/
                        top:35%;
                        left:67%;
                        /*determinamos una anchura*/
                       
                        /*indicamos que el margen izquierdo, es la mitad de la anchura*/
                        margin-left:-200px;
                        /*determinamos una altura*/
                        
                        /*indicamos que el margen superior, es la mitad de la altura*/
                        margin-top:-150px;
                        border:1px solid #808080;
                        padding:5px;
                        background: #01DF3A;
                        
                    }



                    h1{
                        text-align:center;
                        
                    }
                    body{
                        
                         background: rgb(58, 143, 168);
                    }
                    th{
                        padding:30px;
                    }
                    </style>
    </head>
    
    <form method="get" action="/" align="center">
        <button class="ui green button">Salir</button>
    </form>


    <body onload="draw();">
        <h1>Partida en Proceso</h1>
        <br><br>
        <div align = "center" class="tablero">
        
        <% @matriz.each do |fila| %>
            <% fila.each do |columna| %>
                <th>    <%=columna.getc %>   </th>
            <% end %>
            <br>
        <% end %>

        <div>
                <form method="post" action="/game/jugada">
                    <span id ='nomjud1'  class="ui green input-group-text">Jugadas</span>
                    <input type="radio" name="jugador" value="jugador1"> <%= @jugador1.getNombre %><br>
                    <input type="radio" name="jugador" value="jugador2"> <%= @jugador2.getNombre %><br>
                    <label>Coordenada x1: </label><input type="number" class="form-control" id="nb-rows" min=0 name="x1" max=3>
                    <label>Coordenada y1:</label><input type="number" class="form-control" id="nb-cols" min=0 name="y1" max=3>
                    <label>Coordenada x2:</label><input type="number" class="form-control" id="nb-cols" min=0  name="x2" max=3>
                    <label>Coordenada y2:</label><input type="number" class="form-control" id="nb-cols" min=0  name="y2" max=3>
                    <button type="submit" class="ui blue button btn  btn-secondary">Marcar Jugada</button>
                </form>
    
        
        </div>
        </div>

        <div class = "tablerop">
            <div>
                <span class="ui green input-group-text">Puntuacion Jugador 1: <%= @jugador1.getNombre %></span> 
                
                <lbl><%= @jugador1.getPuntaje %></lbl>
            </div>
            <div>
            <span class="ui green input-group-text">Puntuacion Jugador 2: <%= @jugador2.getNombre %></span>
            <lbl><%= @jugador2.getPuntaje %></lbl>
            </div>
        </div>

        <div class = "tableror">
            <div>
                <span class="ui green input-group-text"> REGLAS DEL JUEGO </span>
                <ul> 
                    <li>Cada jugador tiene un turno para trazar una línea que una dos puntos, ya sea horizontal o verticalmente. Los puntos deben ser adyacentes</li> 
                    <li>Cuando un jugador completa un cuadrado, él o ella tomará posesión de ese cuadrado ya sea con una letra, un color en particular. La persona que complete el cuadrado tendrá el siguiente turno después de haber formado el cuadro.</li> 
                    <li>Cuando toda la cuadrícula esté llena de cuadrados, el juego habrá terminado y la persona que haya completado la mayoría de los cuadrados gana</li>
                </ul> 
            </div>
        </div>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    </body>
</html>